/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  background-image: repeating-linear-gradient(
      90deg,
      var(--bg-line-color) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      0deg,
      var(--bg-line-color) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(var(--from-bg-color), var(--to-bg-color));
  background-size: cover;
  background-attachment: fixed;
  color: var(--accent-color);
  font-variation-settings: "wght" var(--main-weight, 400);
}

.header {
  margin: 100px auto;
  border: 2px solid var(--accent-color, #000);
  background-color: var(--content-bg);
  width: 100%;
  max-width: 700px;
}

.header-title {
  display: block;
  text-align: center;
  font-family: var(--acсent-font);
  font-size: clamp(49px, -0.0783rem + 4.6009vw, 65px);
  font-weight: var(--main-weight);
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-decoration: none;
}

.header-text {
  display: block;
  text-align: center;
  font-family: var(--acсent-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: var(--main-weight);
  line-height: normal;
  text-transform: uppercase;
}

.header-start {
  width: 100%;
  padding-top: clamp(120px, 10.4167vw, 136px);
}

.button {
  background-color: transparent;
  border: none;
  color: var(--accent-color);
  font-family: var(--acсent-font);
  font-weight: var(--main-weight);
  font-size: 14px;
  outline: 2px solid var(--accent-color);
}

.main-text {
  color: var(--accent-color);
  font-family: var(--acсent-font);
  font-weight: var(--main-weight);
  font-size: 14px;
}

button:hover {
  cursor: pointer;
}

.button-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-menu {
  display: flex;
  padding-block-start: 25px;
  padding-block-end: 21px;
  justify-content: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}

.theme-menu__item {
  display: inline;
}

.theme-menu__button {
  text-transform: uppercase;
  position: relative;
  padding-inline-start: 25px;
  outline: none;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s;
}

.theme-menu__button:focus-visible:after {
  width: 100%;
}

.theme-menu__button:hover:after {
  scale: 1;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus-visible:focus {
  outline: none;
}

.theme-menu__button:hover {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: 5px;
  animation: arrow-shift 0.8s infinite ease-in-out;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

@keyframes arrow-shift {
  0% {
    left: 4px;
  }

  100% {
    left: 0px;
  }
}

.content-card {
  margin: 50px auto;
  border: 2px solid var(--accent-color);
  background-color: var(--content-bg);
  max-width: 700px;
}

.card-title {
  font-family: var(--main-font, Inter), Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: var(--accent-weight);
  line-height: normal;
  padding: 6px 12px 6px 10px;
  font-variation-settings: "wght" var(--accent-weight, 700);
}

.card-picture {
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  width: 100%;
}

.box-content-text {
  padding: 21px 25px 25px;
}

.content-text {
  font-family: var(--main-font, Inter), Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: var(--main-weight);
  line-height: 21px;
}

.content-card p {
  margin-bottom: 25px;
}

.wraper-img {
  position: relative;
}

.lable {
  position: absolute;
  top: 25px;
  right: 25px;
  color: var(--accent-color);
  font-family: var(--acсent-font);
  font-weight: var(--main-weight);
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports (
  (text-stroke: 1px var(--shadow-lable)) or
    (-webkit-text-stroke: 1px var(--shadow-lable))
) {
  .lable {
    -webkit-text-stroke: 1px var(--shadow-lable);
    text-stroke: 1px var(--shadow-lable);
    text-shadow: none;
  }
}

.double-button {
  min-height: 38px;
  display: flex;
  gap: 7px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.card__icon-button {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  transition: outline 0.3s ease;
  height: 100%;
}

.animated-button {
  overflow: hidden;
  transition: transform 0.3s;
}

.animated-button:hover {
  transition: transform 0.3s;
  transform: translateX(0);
}

.animated-button:hover .animated-button-text {
  mix-blend-mode: hard-light;
  color: var(--hover-button-text);
  z-index: 2;
  transition: color 0.3s;
}

.animated-button:hover::before {
  transition: transform 0.3s;
  transform: translateX(0);
}

.animated-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.card__like-button {
  padding: 0;
  width: 130px;
}

.button-text {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.card__like-button:focus-visible {
  box-shadow: 3px 3px var(--accent-color);
  transition: box-shadow 0.3s;
}

.button-save {
  padding: 17px 20px 15px;
  gap: 9px;
  margin: 0px auto 100px;
  border: 2px solid var(--accent-color);
  background-color: var(--content-bg);
  min-width: clamp(306px, 100vw - 30px, 335px);
  outline: none;
}

.button-save:focus {
  outline: none;
}

.button-save:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow 0.3s;
  outline: none;
}

.button-save-text {
  text-align: center;
  line-height: 12.6px;
}

.button-svg {
  width: 21px;
  height: 21px;
}

.animated-button:hover .button-svg {
  mix-blend-mode: hard-light;
  color: var(--hover-svg);
  z-index: 2;
  transition: fill 0.3s;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
  backdrop-filter: blur(7px);
}

.dialog {
  background-color: var(--content-bg);
  position: relative;
  outline: solid 2px var(--accent-color);
  padding: 0;
  width: 357px;
  border: none;
}

.close-button {
  margin: 0 auto 30px;
  width: 293px;
  padding: 10.5px 6px;
}

.dialog__save {
  background-color: transparent;
  border: none;
  gap: 20px;
  padding: 30px;
}

.dialog-text {
  width: 234px;
  text-align: left;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog-button-text {
  line-height: 12.6px;
  text-transform: uppercase;
}

.dialog-svg {
  color: var(--accent-color);
  width: 39px;
  height: 39px;
}

.filter-grayscale {
  filter: grayscale(1);
}

.filter-contrast {
  filter: contrast(500%);
}

.filter-saturate {
  filter: saturate(500%);
}

.filter-brightness {
  filter: brightness(500%);
}

.filter-sepia {
  filter: sepia(1);
}

.filter-invert {
  filter: invert(1);
}

.filter-blur {
  filter: blur(5px);
}

.multi-filter {
  filter: hue-rotate(180deg) contrast(80%) sepia(50%);
}

@media (width <= 376px) {
  .button-svg {
    width: 28px;
    height: 28px;
  }

  .button-save {
    flex-direction: column;
    flex-wrap: wrap;
    min-width: clamp(306px, 22.72vw + 50px, 335px);
  }

  .dialog {
    width: 341px;
  }

  .dialog-text {
    width: 198px;
  }

  .dialog__save {
    padding: 30px 40px;
  }

  .close-button {
    width: 257px;
  }
}
