/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
@media (prefers-color-scheme: dark) {
  :root {
    --main-font: Inter, sans-serif;
    --acсent-font: "PressStart2P", sans-serif;
    --main-weight: 465;
    --accent-weight: 785;
    --from-bg-color: #007f0c;
    --to-bg-color: #004306;
    --accent-color: #00cc14;
    --bg-line-color: #000;
    --content-bg: #000;
    --shadow-lable: #000;
    --hover-button-text: #fff;
    --sparks-fill: #f00;
    --black-fill: #000;
    --color-heart-main: #f00;
  }
}

:root.theme-dark {
  --main-font: Inter, sans-serif;
  --acсent-font: "PressStart2P", sans-serif;
  --main-weight: 465;
  --accent-weight: 785;
  --from-bg-color: #007f0c;
  --to-bg-color: #004306;
  --accent-color: #00cc14;
  --bg-line-color: #000;
  --bacground-color: linear-gradient(#007f0c, #004306);
  --content-bg: #000;
  --shadow-lable: #000;
  --hover-button-text: #fff;
  --sparks-fill: #f00;
  --black-fill: #000;
  --color-heart-main: #f00;
}

